body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    text-align: center;
}

nav {
    background: #ff4d6d;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 60%;
    border-radius: 10px;
    border: none;
}

#galeria img {
    width: 200px;
    margin: 10px;
    border-radius: 15px;
}
