* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffdde1, #ee9ca7);
}

nav {
    background: #ff4d6d;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

.frase {
    color: white;
    margin-bottom: 40px;
}

/* AQUI ESTÁ O SEGREDO */
.cards-inicio {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px; /* força largura igual */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
